<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="footer">
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row" style="justify-content: center;">
                <div class="col-auto">
                    <div class="small m-0 text-white" th:text="#{footer.title}">안녕하십니까. KeyCloak Test Page입니다. </div>
                </div>
            </div>
        </div>


        <script src="js/scripts.js"></script>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
<!--        <script src="js/sb-admin-2.min.js"></script>-->

        <!-- Page level plugins -->
        <script src="vendor/chart.js/Chart.min.js"></script>


        <!-- Page level plugins -->
        <script src="vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="vendor/datatables/datatables.bootstrap4.js"></script>

    </footer>

</div>

</html>