<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="header.html :: header"></head>

<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div th:replace="sidemenu.html :: sidemenu"></div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <div th:replace="top_nav.html :: top_nav"></div>

        <!-- Page content-->
        <div class="container-fluid">
            <h1 class="mt-4">연계시스템 관리</h1>
            <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
            <p>
                Make sure to keep all page content within the
                <code>#page-content-wrapper</code>
                . The top navbar is optional, and just for demonstration. Just create an element with the
                <code>#sidebarToggle</code>
                ID which will toggle the menu when clicked.
            </p>
        </div>
    </div>
</div>

<footer th:replace="footer.html :: footer"></footer>
</body>


</html>
